@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./Pagination.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.customScroll::-webkit-scrollbar {
  width: 6px;
}

.customScroll::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 8px;
}

@keyframes flag {
  0% {
    left: 0px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
@keyframes details {
  0% {
    left: 100px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.slideInFlag {
  position: relative;
  animation-name: flag;
  animation-duration: 4s;
}
.slideInDetails {
  position: relative;
  animation-name: details;
  animation-duration: 4s;
}
